<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    </head>
    <body>
        <h1>Sign up</h1>
        <p>
            Welcome! We're glad you're making the choice to join the <b>PriConne Mapping Project</b>.
            But you'll need to sign in using your <i>osu!</i> account first.
        </p>
        <hr/>
        <div style="display: flex; flex-direction: column; align-items: center; padding-top: 1em;">
            <a href="{{ url_for('auth_consent') }}"><button style="font-size: 1.5em; margin-bottom: 0.5em;">Let me in!</button></a>
            <a href="javascript:window.history.back()"><small>(don't want to yet?)</small></a>
        </div>
        <br/>
    </body>
</html>